/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #ffeef6;
  --accent-bg-color: #FF8DCB;
  --text-color: #353430;
  --accent-text-color: #FFC2E6;
  --back-img: url(../images/cover-image-light.png);
  --hover: rgb(53 52 48 / 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #ffeef6;
    --accent-bg-color: #FF8DCB;
    --text-color: #353430;
    --accent-text-color: #FFC2E6;
    --back-img: url(../images/cover-image-light.png);
    --hover: rgb(53 52 48 / 0.4);
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light.header__theme-menu-buttonfocus-visible,
.theme-light .link:focus-visible {
  outline: none;
}

.theme-light .link:focus-visible {
  outline: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  outline: none;
}

.theme-light .link:hover {
  border-bottom: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--hover);
}

.theme-light .header__subtitle,
.theme-light .main__title,
.theme-light .main__subtitle,
.theme-light .main__sub-subtitle,
.theme-light .header__theme-menu-button {
  color: var(--text-color);
}
  
.theme-light .header__rec,
.theme-light .header__rec::after {
  display: none;
}

.theme-light .header__theme-menu {
  margin-top: 74px;
}

.theme-light .header::after {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.theme-light .header::before {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.theme-light .footer::after {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.theme-light .footer::before {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

@media (width >= 768px) {
  .theme-light .header__theme-menu {
    margin-top: 191px;
  }
}

@media (width >= 1024px) {
  .theme-light .header__theme-menu {
    margin-top: 20px;
  }
}