/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  margin: 0 auto;
  display: grid;
  background-image: var(--back-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Основные стили страницы */

.header {
  position: relative;
  height: 100vh;
  margin-bottom: 40px;
  min-height: 668px;
}

.header::after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-bg-color);
  border-right: 1px solid var(--accent-bg-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.header::before {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-bg-color);
  border-left: 1px solid var(--accent-bg-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__rec {
  position: relative;
  color: var(--accent-bg-color);
  width: 52px;
  height: 26px;
  justify-self: end;
  margin-right: 19px;
  margin-top: 10px;
  text-align: start;
}

.header__rec::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: var(--accent-bg-color);
  border: 1px solid var(--accent-bg-color);
  box-shadow: 0 0 4px 4px var(--accent-bg-color);
  width: 9px;
  height: 9px;
  top: 30%;
  right: 0;
}

.header__theme-menu {
  position: relative;
  text-align: end;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 36px;
}

.header__theme-menu-button {
  text-align: center;
  color: var(--accent-bg-color);
  background: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-size: var(--text-size);
}

.header__theme-menu-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.header__title {
  margin: 67px 10px 55px;
  line-height: 83%;
  font-size: var(--size-logo);
  font-weight: 700;
  color: var(--accent-text-color);
  text-shadow: 4px 4px var(--accent-bg-color);
}

.header__subtitle {
  font-weight: bold;
  line-height: 23.4px;
  color: var(--bg-color);
  background-color: var(--accent-bg-color);
  width: 355px;
  margin: 0 auto;
  margin-bottom: 66px;
}

.main {
  display: grid;
  padding: 0 10px;
  gap: 50px;
  margin-bottom: 40px;
}

.section {
  width: 355px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.main__gallery {
  gap: 10px;
}

.block {
  display: grid;
  gap: 10px;
}

.work-block {
  display: grid;
  gap: 20px;
}

.new-grid {
  display: grid;
  gap: 20px;
}

.main__title {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-bg-color);
  font-size: var(--text-size);
}

.main__subtitle {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--bg-color);
  background-color: var(--accent-bg-color);
  font-size: var(--text-size);
}

.main__sub-subtitle {
  line-height: 23.4px;
  font-weight: 400;
  color: var(--bg-color);
  background-color: var(--accent-bg-color);
  font-size: var(--text-size);
}

.main__text {
  line-height: 23.4px;
  color: var(--text-color);
  font-size: var(--text-size);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-bg-color);
}

.main__images {
  display: grid;
  gap: 10px;
}

.main__images-item {
  display: block;
  width: 355px;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  align-items: center;
}

.footer::after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-bg-color);
  border-right: 1px solid var(--accent-bg-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-bg-color);
  border-left: 1px solid var(--accent-bg-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.footer__title {
  text-align: center;
  line-height: 83%;
  font-size: var(--size-logo);
  font-weight: 700;
  color: var(--accent-text-color);
  text-shadow: 2px 2px var(--accent-bg-color);
}

@media (width >= 768px) {

  .header {
    margin-bottom: 60px;
  }

  .header::after {
    top: 20px;
    right: 20px;
  }

  .header::before {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    margin-right: 29px;
    margin-top: 20px;
  }

  .header__theme-menu {
    margin-right: 20px;
    margin-top: 146px;
  }

  .header__title {
    margin: 173px 0 162px;
    font-size: var(--size-logo);
  }

  .header__subtitle {
    margin-bottom: 183px;
    margin-right: 20px;
    width: 364px;
  }

  .main {
    gap: 80px;
    padding: 0 20px;
    margin-bottom: 60px;
  }

  .section {
    margin: 0;
    width: 100%;
  }

  .main__first, 
  .main__third {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__first .block {
    grid-column: 2/auto;
  }

  .main__second .main__title {
    width: 236px;
  }

  .main__third  .work-block {
    display: grid;
    gap: 20px;
  }

  .main__gallery {
    gap: 20px;
  }

  .main__images {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
  }

  .main__images-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main__images-item.first {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .main__images-item.second {
    grid-row: 1/3;
    grid-column: 3/auto;
  }

  .main__images-item.third {
    grid-row: 2/4;
    grid-column: 1/2;
  }

  .main__images-item.fourth {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .main__images-item.fifth {
    grid-row: 3/4;
    grid-column: 2/4;
  }

  .footer::after {
    top: 20px;
    right: 20px;
  }
  
  .footer::before {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    display: flex;
    margin-top: -28px;
    margin-left: 397px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu-button {
    padding: 0px 13px;
    width: 70px;
    height: 26px;
  }

  .header__title {
    margin: 265px 0 114px;
    font-size: var(--size-logo);
  }

  .header__subtitle {
    width: 491px;
    height: 71px;
    margin-bottom: 134px;
  }

  .main__first {
    grid-template-columns: 314px 2fr;;
  }

  .main__second .main__title {
    width: 315px;
  }

  .main__second .new-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__second .new-grid .block {
    display: flex;
    flex-direction: column;
  }

  .main__third {
    grid-template-columns: 314px 1fr;
  }

  .main__images {
    grid-template-rows: 260px 315px 433px;
  }
}