/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #F1B2CE;
  --accent-text-color: #DB00FF;
  --bg-color: #000028;
  --accent-bg-color: #FF0070;
  --hover: rgb(255 0 112 / 0.4);
  --font-family: 'IBM Plex mono';
  --text-size: 18px;
  --size-logo: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --back-img: url(../images/cover-image-dark.png);
}

@media (min-width: 768px) {
  :root {
    --size-logo: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}